@import 'theming';
@import '../../node_modules/@angular/material/theming';

$anms-primary: mat-palette($mat-indigo, 800, 300, 900);
$anms-accent: mat-palette($mat-light-blue);
$anms-warn: mat-palette($mat-pink, 600);
$anms-error: mat-palette($mat-red, 500);

$anms-theme: mat-light-theme($anms-primary, $anms-accent, $anms-warn);

@mixin default-theme() {
  $theme-colors: (
    'primary': (
      'base': (
        'color': mat-color($anms-primary, default),
        'background-type': 'dark',
      ),
      'light': (
        'color': mat-color($anms-primary, lighter),
        'background-type': 'light',
      ),
      'dark': (
        'color': mat-color($anms-primary, darker),
        'background-type': 'dark',
      ),
    ),
    'accent': (
      'base': (
        'color': mat-color($anms-accent, default),
        'background-type': 'dark',
      ),
      'light': (
        'color': mat-color($anms-accent, lighter),
        'background-type': 'dark',
      ),
      'dark': (
        'color': mat-color($anms-accent, darker),
        'background-type': 'dark',
      ),
    ),
    'warn': (
      'base': (
        'color': mat-color($anms-warn, default),
        'background-type': 'dark',
      ),
      'light': (
        'color': mat-color($anms-warn, lighter),
        'background-type': 'light',
      ),
      'dark': (
        'color': mat-color($anms-warn, darker),
        'background-type': 'dark',
      ),
    ),
    'error': (
      'base': (
        'color': mat-color($anms-error, default),
        'background-type': 'dark',
      ),
      'light': (
        'color': mat-color($anms-error, lighter),
        'background-type': 'dark',
      ),
      'dark': (
        'color': mat-color($anms-error, darker),
        'background-type': 'dark',
      ),
    ),
    'foreground': (
      'base': (
        'color': map_get($mat-grey, 700),
        'background-type': 'dark',
      ),
      'light': (
        'color': map_get($mat-grey, 600),
        'background-type': 'dark',
      ),
      'dark': (
        'color': map_get($mat-grey, 800),
        'background-type': 'dark',
      ),
    ),
    'background': (
      'base': (
        'color': #fcfcfc,
        'background-type': 'light',
      ),
      'light': (
        'color': #ffffff,
        'background-type': 'light',
      ),
      'dark': (
        'color': map_get($mat-grey, 200),
        'background-type': 'light',
      ),
    ),
    'affirmative': (
      'base': (
        'color': map_get($mat-green, 800),
        'background-type': 'dark',
      ),
      'light': (
        'color': map_get($mat-green, 700),
        'background-type': 'dark',
      ),
      'dark': (
        'color': map_get($mat-green, 900),
        'background-type': 'dark',
      ),
    ),
    'negative': (
      'base': (
        'color': map_get($mat-red, 800),
        'background-type': 'dark',
      ),
      'light': (
        'color': map_get($mat-red, 700),
        'background-type': 'dark',
      ),
      'dark': (
        'color': map_get($mat-red, 900),
        'background-type': 'dark',
      ),
    ),
  );

  $contrast-colors: (
    'dark': (
      'primary': rgb(255, 255, 255),
      'secondary': rgba(255, 255, 255, 0.7),
      'disabled': rgba(255, 255, 255, 0.5),
      'hint': rgba(255, 255, 255, 0.12),
    ),
    'light': (
      'primary': rgba(0, 0, 0, 0.87),
      'secondary': rgba(0, 0, 0, 0.54),
      'disabled': rgba(0, 0, 0, 0.38),
      'hint': rgba(0, 0, 0, 0.12),
    ),
  );

  @include theme-css-variables-colors($theme-colors, $contrast-colors);
}
