<!doctype html>
<head>
  <link rel="stylesheet" href="styles/global.css" data-inline>
  <link rel="stylesheet" href="templates/verify-email/verify-email.css" data-inline>
</head>
<body>
  <div class="header-content">
    <h1 class="header-title">Welcome, {{username}}!</h1>
  </div>
  <div class="main-content">
    <p>
      We're super-excited to have you join us! To get started, please click the link below to verify your email and activate your account.
    </p>
    <a href="{{url}}" class="token-link" target="_blank">Activate</a>
    <p>Thanks, and have a great day!</p>
  </div>
  <div class="footer-content">

  </div>
</body>
