body {
  font-family: sans-serif;
  max-width: 960px;
  margin: auto;
  border: 1px dotted gray;
}

.header-content,
.main-content,
.footer-content {
  margin: 0em;
  padding: 0.25em;
}

.header-content {
  background-color: #354f6a;
  color: #f5f5f5;
}

.main-content {

}

.footer-content {

}

.warning {
  color: darkred;
}

.header-title {
  margin: 0;
  font-size: 1.7em;
}

.token-link-container,
.token-link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.token-link-container {
  margin: 1.25em auto;
}

.token-link-wrapper {
  padding: 0.5em;
  border: 3px dashed gray;
  border-radius: 10px;
}

.token-link {
  flex: 0 1 auto;
  padding: 0.2em 1em;
  border-radius: 4px;
  color: #f5f5f5;
  background-color: #52984d;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
  transition: background-color 200ms;
}

.token-link:hover {
  background-color: #66bd60;
  text-decoration: none;
}


h1,
h2,
h3,
h4 {
  font-weight: normal;
  font-weight: 500;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}
