<form
  class="login-form flex-form"
  [formGroup]="loginForm"
>
  <mat-form-field>
    <input
      matInput
      type="text"
      formControlName="username"
      placeholder="Username"
    >
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="password"
      formControlName="password"
      placeholder="Password"
    >
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
  >Login</button>
</form>
<a
  class="forgot-password-link"
  routerLink="../forgot-password"
>Forgot password</a>
