:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .forgot-password-link {
    color: var(--theme-color-contrast-background-base-secondary);
    font-size: 0.8em;
    text-align: center;
  }

  .login-error {
    margin-top: 1em;
    font-size: 0.8rem;
    color: var(--theme-color-error-base);
  }
}
