<form
  class="login-form flex-form"
  [formGroup]="loginForm"
  (ngSubmit)="onLoginFormSubmit()"
>
  <mat-form-field>
    <input
      matInput
      type="text"
      formControlName="username"
      placeholder="Username"
    >
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="password"
      formControlName="password"
      placeholder="Password"
    >
  </mat-form-field>
  <button
    mat-raised-button
    color="accent"
    type="submit"
  >Login</button>
  <div class="login-error">
    {{loginError}}
  </div>
</form>
<a
  class="forgot-password-link"
  routerLink="../forgot-password"
>Forgot password</a>
