<form
  class="login-form flex-form"
  [formGroup]="loginForm"
  (ngSubmit)="onLoginFormSubmit()"
>
  <mat-form-field>
    <input
      matInput
      type="text"
      formControlName="username"
      placeholder="Username"
    >
    <mat-error>This field is required.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="password"
      formControlName="password"
      placeholder="Password"
    >
    <mat-error>This field is required.</mat-error>
  </mat-form-field>
  <div class="form-error">
    {{loginError ? loginError : '&nbsp;'}}
  </div>
  <button
    mat-raised-button
    color="accent"
    type="submit"
    class="submit-button"
  >Login</button>
</form>
<a
  class="forgot-password-link"
  routerLink="../forgot-password"
>Forgot password</a>
