doctype html
head
  link(rel="stylesheet", href="styles/global.css", data-inline)
  link(rel="stylesheet", href="templates/password-reset/password-reset.css", data-inline)
body
  div.header-content
  div.main-content
    h1.main-title Let's Reset Your Password.
    p We received your request to reset your password.
    a.token-link(href=url, target='_blank') Reset
    p.warning If you did not request this email, someone might be trying to break into your account. Please watch out for further intrusion attempts.
    p Thanks, and have a great day!
  div.footer-content
