.card-container {

  background-color: white;
  display: flex;
  flex-direction: column;

  .card-content {

    background-color: var(--theme-color-background-base);
    color: var(--theme-color-contrast-background-base-primary);

    display: flex;
    flex-direction: row;

    .card-left,
    .card-right {
      min-width: 3em;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      user-select: none;

      .card-button {
        height: 100%;
        border: 0;
        outline: 0;
        transition: background-color 300ms, color 300ms;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & > .check-button {
        color: var(--theme-color-contrast-accent-base-primary);
        background-color: var(--theme-color-accent-base);
        &:hover {
          color: var(--theme-color-contrast-accent-dark-primary);
          background-color: var(--theme-color-accent-dark);
        }
      }

      & > .settings-button {
        color: var(--theme-color-contrast-background-dark-secondary);
        background-color: var(--theme-color-background-dark);
        &:hover {
          color: var(--theme-color-contrast-foreground-dark-secondary);
          background-color: var(--theme-color-foreground-dark);
        }
      }
    }

    .card-center {
      min-width: 0;
      flex-grow: 1;
      text-align: left;

      display: flex;
      flex-direction: column;

      h2.card-title {
        margin: 0.2em 1em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
